@charset "UTF-8";
body {
    -webkit-user-drag: none;
    -webkit-user-select: none;

    /*width: 900px;
    height: 380px;*/
    margin: 0px;
    padding: 0px;

    font: menu;
    font-size: 13px;
    color: black;

    background-color: #fbfdfd;

    cursor: default;
    outline: none !important;
}
[data-selected] {
    outline: 5px auto -webkit-focus-ring-color;
}

table {
    border-spacing: 0px;
}

.stretch {
    position: relative;
    width: 100%;
    height: 100%;
}

.link {
    display: inline-block;
    color: #00C;
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
}
button.link {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
}
/*.link:active {
    outline: none;
}*/

#URL-bar {
    -webkit-box-shadow: gainsboro 1px 1px 5px;

    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0px 5px 2px 3px;
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;

    /*background-color: #e6edff;
    background-color: #f0f2f2;
    background-color: #edf0f0;*/
    /*! background-color: #eff2f2; */
    background-color: #fafafa;

    border: 1px solid dimgray;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 3px;

    white-space: nowrap;
    z-index: 9001;
}
#URL-bar .protocol[data-secure] {
    color: darkgreen;
}
#URL-bar .domain {
    font-weight: bold;
}
#URL-bar .query {
    color: darkred;
    font-weight: bold;
}
#URL-bar .fragment {
    color: black;
    font-weight: bold;
}

#Undo-bar {
    float: left;
    /*width: 100%;*/
    position: relative;
    top: 3px;
    left: 50%;
    /*top: 5px;*/
    /*top: 17px;
    left: 46.8%;*/
    /*margin: auto;*/
}
#Undo-bar-div {
    -webkit-transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;

    /*display: inline-block;*/
    /*margin: auto;*/

    position: relative;
    left: -50%;

    background-color: #FFF1A8;
    padding: 2px 5px;
    margin: 0px 7px;
    font-weight: bold;
    border: 1px solid dimgray;
    border-radius: 5px;
}
#Undo-bar-button {
    margin-left: 10px;
}

#placeholder {
    display: block !important;
    /*height: 0px;*/ /* 16px */
    margin: 3px 0px;
    border: 1px inset gray;
}

#container-buttons {
    position: fixed;
    width: 100%;
    padding: 13px 26px 21px 24px;
    margin-top: 1px;

    white-space: nowrap;
    z-index: 2; /** Do not go higher than 2! See issue 60 */

    vertical-align: top;
    /*border: none;
    border-spacing: 0px 0px;*/
}
#container-buttons .separator {
    margin: 0px 7px;
    /*margin-left: 1px;
    margin-right: 6px;
    margin-right: 5px;*/
}
/*#container-buttons button {
    width: 150px;

    white-space: normal;
}*/
#button-new-window {
    /*display: table-cell;*/
    margin: 0px;
    margin-right: 12px;
}

/*#search-cell {
    vertical-align: middle;
}*/
#search-box {
    /*position: fixed;
    top: 15px;
    right: 15px;*/

    /*display: table-cell;*/
    position: relative;
    margin-top: 2px;
    /*padding-left: 10px;*/

    /*text-shadow: white 0px 1px 0px;*/
    white-space: nowrap;
}
#search-box > input {
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;*/

    /*position: relative;
    top: -3px;*/

    width: 241px; /*! 200px 225px */
    padding: 0px 2px;
    margin: 0px;

    border-color: #e1e1e1;
    border-radius: 2px;

    /*background-image: url(images/button-search.png);
    background-repeat: no-repeat;
    background-position: right 1px;*/
}
#search-past {
    -webkit-box-shadow: dimgray 0px 2px 3px;

    /*position: absolute;
    z-index: 9001;*/

    /*width: 100%;*/

    /*max-height: 7.8em;*/
    padding: 0px;
    margin: 0px 1px 0px 1px;

    background-color: white;
    border: 1px solid dimgray;

    list-style: none;

    overflow-x: hidden;
    overflow-y: auto;

    outline: none;
}
/*#search-past:empty {
    display: none;
}*/
#search-past > li {
    padding: 1px 6px 3px;
    /*margin: -1px;

    border: 1px solid transparent;*/
}
input[special], #search-past > li.special {
    color: darkred;
}
/*#search-past > li:hover,*/
#search-past > li[data-selected] {
    color: white;
    font-weight: bold;

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99c5fb), to(#5fa0f0));
    outline: 1px solid #375C89;
    /*border-color: #375C89;*/
    /*outline: none;*/
}

#window-list {
    position: absolute;
    padding: 69px 15px 41px;
}
.window {
    width: 400px;
    height: 100%;
    padding-right: 15px;
    outline-width: 0px;
}
.window[data-selected] > .window-div {
    position: relative;
    z-index: 2;
}
.window[data-last] {
    padding-right: 0px;
}
.window[data-last] > .window-div {
    width: 400px;
}
.window > .window-div {
    height: 100%;
    margin: 0px auto;
    max-width: 400px;
}


.tab-icon-border, .tab-list-border {
    -webkit-box-shadow: gainsboro 0px 1px 7px;

    /*border: 1px outset #333333;*/
}
.tab-icon-border, .tab-icon {
    height: 29px;
}
.tab-icon, .tab-list {
    /*border: 1px inset #666666;*/
    /*border: 1px inset slategray;*/
    margin: 7px;
}


.window[data-selected] .tab-icon-border,
.window[data-selected] .tab-list-border {
    outline: 5px auto -webkit-focus-ring-color;
}

/*.window[data-focused] .tab-icon-border {
    background-color: #e6e8ff;
    background-color: #cce4ff;
}
.window[data-focused] .tab-list-border {
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#e6e8ff), to(#bac0f6));
    background-image: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#cce4ff), to(#97c3f7));
}*/

/*.window[data-focused][data-selected] .tab-icon-border {
    outline: 5px auto limegreen;
}
.window[data-focused][data-selected] .tab-list-border {
    outline: 5px auto limegreen;
}*/


.tab-list-border {
    position: absolute;
    width: 400px;
    height: 100%;
    padding-bottom: 20px;
    margin-top: -10px;

    /*z-index: -1;*/

    border-radius: 4px;
    border-top-left-radius: 0px;
}
.tab-list {
    height: 100%;
    padding: 2px;

    outline-width: 0px;
    background-color: white;

    overflow-x: hidden;
    overflow-y: auto;
}

.tab-icon-border {
    -webkit-box-sizing: border-box;

    width: 105px;
    margin-bottom: 10px;

    border-bottom: none;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.tab-icon-container {
    position: relative;
    height: 22px;

    background-color: inherit;
    z-index: 1;
}
.tab-icon {
    padding: 0px;
    padding-left: 3px;
    background-color: white;

    border-bottom: 1px dashed rgba(0, 0, 0, 0.03);
    border-bottom: none;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.tab-icon-table {
    width: 100%;
    vertical-align: top;
}
.tab-icon-text {
    width: 100%;
    padding: 0px;
    /*padding-bottom: 2px;*/
    /*margin: 0px;*/

    background-color: transparent;

    border: none;
    outline: none;

    font-size: 0.9em;
    /*font-variant: small-caps;*/
}
.window:not([data-focused]) .tab-icon-text {
    cursor: default;
}

.tab-icon-dropdown, .tab-button-close {
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
}

.tab-icon-dropdown {
    /*-webkit-mask-image: url(images/button-menu-mask.png);*/

    display: none;
    /*padding: 1px 2px 0px 1px;*/
    margin-right: 1px;

    width: 17px;
    height: 16px;

    /*background-color: red;*/
    /*background-image: url('images/button-menu.png');*/

    border: 1px solid transparent;
    border-radius: 5px;

    /*float: right;*/
}
.window[data-focused]/* .tab-icon-border:hover*/ .tab-icon-dropdown {
    display: block;
}

/*.tab-icon-buttons {
    -webkit-box-shadow: dimgray 1px 1px 4px;

    position: absolute;
    padding: 2px 2px;
    margin-left: -5px;
    margin-top: 13px;

    background-color: white;
    border: 1px solid dimgray; *//*#aaaaaa*//*

    white-space: nowrap;
    list-style: none;
}
.tab-icon-buttons > hr {
    border: none;
    border-top: inherit;
    margin: 2px 0px;
}
.tab-icon-buttons > li {
    padding: 2px 5px 3px;
    *//*margin: 0px -1px;*//*
    border: 1px solid transparent;
}*/
/*.tab-icon-buttons > li:first-of-type {
    margin-top: -3px;
}
.tab-icon-buttons > li:last-of-type {
    margin-bottom: -3px;
}*/
/*.tab-icon-buttons > li[disabled] {
    color: #aaaaaa;
}
.tab-icon-buttons > li:not([disabled]):hover {
    color: white;
    *//*background-color: lightskyblue;
    border-color: dodgerblue;*//*

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99c5fb), to(#5fa0f0));
    border-color: #375C89;
}*/

.tab-icon-dropdown:hover {
    /*! -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;*/
    border: 1px solid gainsboro;
}
/*.tab-icon-dropdown:active, */.tab-button-close:active {
    -webkit-box-shadow: none;
    border: 1px inset lightgray;
}
.tab-button-close {
    width: 16px;
    /*height: 13px;*/

    background-image: url('images/button-close.png');
    background-color: rgba(255, 255, 255, 0.75);
    /*background-position: center;*/

    border-radius: 3px;

    /*text-align: center;
    vertical-align: middle;*/
}
.tab-button-close[data-display-hover] {
    display: none;
}
.tab:hover > .tab-button-close[data-display-hover] {
    display: table-cell;
}
.tab-button-close:hover {
    /*background-image: url('close-button-hover.png');*/
    background-color: white !important;
}

.tab {
    /*! display: table;*/
    width: 100%;
    padding: 2px 3px;
    padding-right: 2px;

    border: 1px solid transparent;
    border-radius: 3px;

    color: black;
    text-decoration: none;

    table-layout: fixed;
    cursor: pointer;
    white-space: nowrap;
}

.tab-favorite {
    display: none;
    background-image: url(images/unfavorite.png);
}
.tab[data-favorited] > .tab-favorite {
    display: table-cell;
    background-image: url(images/favorite.png);
}

.tab-favicon, .tab-favorite {
    width: 16px;
    height: 16px;
    padding: 0px;
}
.tab-favicon > img,
.tab-favorite > img {
    vertical-align: top;
}
.tab-text {
    width: 100%;
    padding: 0px;
    padding-left: 6px;
    padding-right: 2px;

    overflow: hidden;
    text-overflow: ellipsis;
}
.tab:hover {
    /*! background-color: rgba(153, 197, 251, 0.6);*/
    /*! background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(153, 197, 251, 0.6)), to(rgba(95, 160, 240, 0.6)));*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(153, 197, 251)), to(rgb(95, 160, 240)));
    border: 1px solid #375C89;
    color: white;
    font-weight: bold;
}

.tab:hover > .tab-favicon,
.tab[data-favorited] > .tab-favicon {
    display: none;
}
.tab:hover > .tab-favorite {
    display: table-cell;
    /*background-image: url(images/unfavorite.png);*/
}
/*.tab[data-favorited]:hover > .tab-favorite {
    background-image: url(images/favorite.png);
}*/

.tab[data-focused]:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edbc5d), to(#d5a03a));
    border: 1px solid #b7590d;
}
.tab[data-selected]:hover {
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
        from(rgba(0, 0, 0, 0.05)),
        *//*color-stop(0.1, transparent),
        color-stop(0.8, rgba(0, 0, 0, 0.2)),*//*
        to(rgba(0, 60, 0, 0.2)));*/

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#96e45c), to(#7acb31));
}
.tab[data-selected][data-focused]:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d3e34e), to(#bfbd23));
}
/*.tab[data-focused]:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(253, 245, 230, 0.6)), to(rgba(95, 160, 240, 0.6)));
}*/
.tab[data-focused] {
    background-color: oldlace; /* -> FDF5E6 */
    border: 1px solid goldenrod;
}
.tab[data-selected] {
    /*! background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(124, 252, 0, 0.4)), to(rgba(124, 252, 0, 0.5)));*/
    /*! background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
        from(transparent),
        color-stop(0.1, rgba(0, 0, 0, 0.02)),
        color-stop(0.9, rgba(0, 0, 0, 0.05)),
        to(rgba(0, 0, 0, 0.1)));*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
        from(transparent),
        color-stop(0.1, rgba(0, 0, 0, 0.02)),
        color-stop(0.8, transparent),
        color-stop(0.9, rgba(0, 0, 0, 0.03)),
        to(rgba(0, 0, 0, 0.04)));

    /*! background-color: rgba(124, 252, 0, 0.35);*/
    background-color: rgba(114, 255, 0, 0.3); /* -> d4ffb3 */
    border: 1px solid darkgreen !important;
    border-radius: 0px;
}
.tab[data-selected][data-focused] {
    background-color: #ecff94;
}
.tab[data-selected] + .tab[data-selected] {
    border-top: 1px solid transparent !important;
}

.url-input {
    width: 100%;
    padding: 0px;
    margin: 0px;

    text-indent: 2px;
    border: none;
    outline: 1px inset rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
}
